In [50]:
%matplotlib inline
import xlrd
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os as os
from itertools import product
import scipy.stats as ss
from scipy.stats import norm
from math import e
np.set_printoptions(suppress=True, linewidth=200, edgeitems=100)

## Load Google Usage data, rename columns

In [51]:
google_df_original = pd.read_csv("Google Storage Usage (10-JAN-2022).csv")
google_df_original

,User,User account status [2022-01-08 GMT],Admin status [2022-01-08 GMT],Gmail storage used (MB) [2022-01-08 GMT],Drive storage used (MB) [2022-01-08 GMT],Photos storage used (MB) [2022-01-08 GMT],Total storage used (MB) [2022-01-08 GMT],Storage used (%) [2022-01-08 GMT]
0,richardshamel@depauw.edu,Active,None,1371,28108595,32935,28142901,0
1,joelbottom@depauw.edu,Active,None,15700,21357320,24559,21397581,0
2,johnfeuquay@depauw.edu,Active,None,1986,15302924,0,15304911,0
3,kkinney@depauw.edu,Active,None,21413,7852488,127346,8001249,0
4,slinville@depauw.edu,Active,None,70477,4524584,896,4595958,0
...,...,...,...,...,...,...,...,...
5346,wendyhigdon@depauw.edu,Active,None,0,0,0,0,0
5347,worldliterature@depauw.edu,Active,None,0,0,0,0,0
5348,wyldlife@depauw.edu,Active,None,0,0,0,0,0
5349,yammadmin@depauw.edu,Active,None,0,0,0,0,0
5350,yellowcolorgroup@depauw.edu,Active,None,0,0,0,0,0

In [52]:
google_df_original.rename(columns={"User account status [2022-01-08 GMT]": "Account Status", 
                          "Admin status [2022-01-08 GMT]": "Admin Status",
                          "Gmail storage used (MB) [2022-01-08 GMT]": "Gmail Storage Used",
                          "Drive storage used (MB) [2022-01-08 GMT]": 'Drive Storage Used',
                          "Photos storage used (MB) [2022-01-08 GMT]": "Photo Storage Used",
                          "Total storage used (MB) [2022-01-08 GMT]": "Total Storage Used",
                          "Storage used (%) [2022-01-08 GMT]": "Storage Used Percentage"},inplace=True)
google_df_original

,User,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,Storage Used Percentage
0,richardshamel@depauw.edu,Active,None,1371,28108595,32935,28142901,0
1,joelbottom@depauw.edu,Active,None,15700,21357320,24559,21397581,0
2,johnfeuquay@depauw.edu,Active,None,1986,15302924,0,15304911,0
3,kkinney@depauw.edu,Active,None,21413,7852488,127346,8001249,0
4,slinville@depauw.edu,Active,None,70477,4524584,896,4595958,0
...,...,...,...,...,...,...,...,...
5346,wendyhigdon@depauw.edu,Active,None,0,0,0,0,0
5347,worldliterature@depauw.edu,Active,None,0,0,0,0,0
5348,wyldlife@depauw.edu,Active,None,0,0,0,0,0
5349,yammadmin@depauw.edu,Active,None,0,0,0,0,0
5350,yellowcolorgroup@depauw.edu,Active,None,0,0,0,0,0

## Delete rows with no storage at all

In [53]:
google_df = google_df_original[(google_df_original['Gmail Storage Used'] > 0) |
                               (google_df_original['Drive Storage Used'] > 0) |
                               (google_df_original['Photo Storage Used'] > 0) |
                               (google_df_original['Total Storage Used'] > 0)]
google_df

,User,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,Storage Used Percentage
0,richardshamel@depauw.edu,Active,None,1371,28108595,32935,28142901,0
1,joelbottom@depauw.edu,Active,None,15700,21357320,24559,21397581,0
2,johnfeuquay@depauw.edu,Active,None,1986,15302924,0,15304911,0
3,kkinney@depauw.edu,Active,None,21413,7852488,127346,8001249,0
4,slinville@depauw.edu,Active,None,70477,4524584,896,4595958,0
...,...,...,...,...,...,...,...,...
4969,bsedlack@depauw.edu,Active,None,3,0,0,3,0
4970,wgresw@depauw.edu,Active,None,3,0,0,3,0
4971,jacoblouiselle_2024@depauw.edu,Active,None,0,2,0,2,0
4972,catertrax@depauw.edu,Active,None,2,0,0,2,0
4973,jboehmler_2021@depauw.edu,Active,None,2,0,0,2,0

## Check if the last column has non-zero value, then drop

In [54]:
google_df[google_df['Storage Used Percentage'] != 0]

Empty DataFrame
Columns: [User, Account Status, Admin Status, Gmail Storage Used, Drive Storage Used, Photo Storage Used, Total Storage Used, Storage Used Percentage]
Index: []

In [55]:
google_df_modified = google_df.drop(['Storage Used Percentage'],axis='columns')
google_df_modified

,User,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used
0,richardshamel@depauw.edu,Active,None,1371,28108595,32935,28142901
1,joelbottom@depauw.edu,Active,None,15700,21357320,24559,21397581
2,johnfeuquay@depauw.edu,Active,None,1986,15302924,0,15304911
3,kkinney@depauw.edu,Active,None,21413,7852488,127346,8001249
4,slinville@depauw.edu,Active,None,70477,4524584,896,4595958
...,...,...,...,...,...,...,...
4969,bsedlack@depauw.edu,Active,None,3,0,0,3
4970,wgresw@depauw.edu,Active,None,3,0,0,3
4971,jacoblouiselle_2024@depauw.edu,Active,None,0,2,0,2
4972,catertrax@depauw.edu,Active,None,2,0,0,2
4973,jboehmler_2021@depauw.edu,Active,None,2,0,0,2

## Creat ID, fix user email to lower-case

In [56]:
google_df_modified.insert(0,'User ID',range(1,1+len(google_df_modified)))
google_df_modified['User Email'] = google_df_modified['User'].str.lower()
google_df_modified

,User ID,User,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email
0,1,richardshamel@depauw.edu,Active,None,1371,28108595,32935,28142901,richardshamel@depauw.edu
1,2,joelbottom@depauw.edu,Active,None,15700,21357320,24559,21397581,joelbottom@depauw.edu
2,3,johnfeuquay@depauw.edu,Active,None,1986,15302924,0,15304911,johnfeuquay@depauw.edu
3,4,kkinney@depauw.edu,Active,None,21413,7852488,127346,8001249,kkinney@depauw.edu
4,5,slinville@depauw.edu,Active,None,70477,4524584,896,4595958,slinville@depauw.edu
...,...,...,...,...,...,...,...,...,...
4969,4970,bsedlack@depauw.edu,Active,None,3,0,0,3,bsedlack@depauw.edu
4970,4971,wgresw@depauw.edu,Active,None,3,0,0,3,wgresw@depauw.edu
4971,4972,jacoblouiselle_2024@depauw.edu,Active,None,0,2,0,2,jacoblouiselle_2024@depauw.edu
4972,4973,catertrax@depauw.edu,Active,None,2,0,0,2,catertrax@depauw.edu
4973,4974,jboehmler_2021@depauw.edu,Active,None,2,0,0,2,jboehmler_2021@depauw.edu

## Load and merge employee data with fixed email

In [57]:
employee_data = pd.read_csv("Employee Emails for Merging.csv")
employee_data['Email'] = employee_data['EMAIL'].str.lower()
t1 = google_df_modified.merge(employee_data,how='left',left_on='User Email',
                              right_on='Email').drop_duplicates(subset=['User ID'])
t2 = t1.drop(['PERSON_ID','FULL_NAME','USERNAME','EMAIL','User','Email'],axis='columns')
t2['DEPARTMENT'] = t2['DEPARTMENT'].replace(np.nan,'Student and Special Accounts')
t2['PERSON_TYPE'] = t2['PERSON_TYPE'].replace(np.nan,'Student and Special Accounts')
t2

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE
0,1,Active,None,1371,28108595,32935,28142901,richardshamel@depauw.edu,Richard Shamel,Employee,Associate Coordinator of Media Services,Information Services,Staff (Past and Present)
1,2,Active,None,15700,21357320,24559,21397581,joelbottom@depauw.edu,Joel Bottom,Employee,University Videographer,Information Services,Staff (Past and Present)
2,3,Active,None,1986,15302924,0,15304911,johnfeuquay@depauw.edu,John Feuquay,Employee,Assistant Media Technician for Event Support,Information Services,Staff (Past and Present)
3,4,Active,None,21413,7852488,127346,8001249,kkinney@depauw.edu,Kevin Kinney,Employee,Professor of Biology,Biology,Faculty (Past and Present)
4,5,Active,None,70477,4524584,896,4595958,slinville@depauw.edu,Steven Linville,Deceased,Director of Productions and Part-time Assistan...,School of Music,Faculty (Past and Present)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN
4971,4972,Active,None,0,2,0,2,jacoblouiselle_2024@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN
4973,4974,Active,None,2,0,0,2,jboehmler_2021@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN

## Load and merge student data with fixed email

In [58]:
student_data = pd.read_csv("Student Emails for Merging.csv")
student_data['Email'] = student_data['EMAIL'].str.lower()
t3 = t2.merge(student_data,how='left',left_on='User Email',right_on='Email').drop_duplicates(subset=['User ID'])
t4 = t3.drop(['PERSON_ID','USERNAME','EMAIL','ENTRANCE_YEAR','Email'],axis='columns')
t4

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME_x,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE,FIRSTLAST_NAME_y,STUDENT_TYPE
0,1,Active,None,1371,28108595,32935,28142901,richardshamel@depauw.edu,Richard Shamel,Employee,Associate Coordinator of Media Services,Information Services,Staff (Past and Present),NaN,NaN
1,2,Active,None,15700,21357320,24559,21397581,joelbottom@depauw.edu,Joel Bottom,Employee,University Videographer,Information Services,Staff (Past and Present),NaN,NaN
2,3,Active,None,1986,15302924,0,15304911,johnfeuquay@depauw.edu,John Feuquay,Employee,Assistant Media Technician for Event Support,Information Services,Staff (Past and Present),NaN,NaN
3,4,Active,None,21413,7852488,127346,8001249,kkinney@depauw.edu,Kevin Kinney,Employee,Professor of Biology,Biology,Faculty (Past and Present),Kevin Kinney,Former Student
4,5,Active,None,70477,4524584,896,4595958,slinville@depauw.edu,Steven Linville,Deceased,Director of Productions and Part-time Assistan...,School of Music,Faculty (Past and Present),Steven Linville,Former Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN
4971,4972,Active,None,0,2,0,2,jacoblouiselle_2024@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Jacob Louiselle,Current Student
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN
4973,4974,Active,None,2,0,0,2,jboehmler_2021@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Jacquelyn Boehmler,Former Student

## Create User Type column

In [59]:
t4['User Type'] = (t4['EMPLOYEE_TYPE'].astype(str) + t4['STUDENT_TYPE'].astype(str)).str.replace("nan","")
t4['User Type'] = [x if x != "" else "" for x in t4['User Type']]
t4['User Type'] = ['Special' if x == "" else x for x in t4['User Type']]
t4['User Type'] = ['Staff (Past and Present)' if x == 'Staff (Past and Present)Former Student' else x for x in t4['User Type']]
t4['User Type'] = ['Staff (Past and Present)' if x == 'Staff (Past and Present)Current Student' else x for x in t4['User Type']]
t4['User Type'] = ['Faculty (Past and Present)' if x == 'Faculty (Past and Present)Former Student' else x for x in t4['User Type']]
t4['User Type'] = ['Faculty (Past and Present)' if x == 'Faculty (Past and Present)Current Student' else x for x in t4['User Type']]
normal_account_df = t4[t4['User Type'] != 'Special']
normal_account_df

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME_x,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE,FIRSTLAST_NAME_y,STUDENT_TYPE,User Type
0,1,Active,None,1371,28108595,32935,28142901,richardshamel@depauw.edu,Richard Shamel,Employee,Associate Coordinator of Media Services,Information Services,Staff (Past and Present),NaN,NaN,Staff (Past and Present)
1,2,Active,None,15700,21357320,24559,21397581,joelbottom@depauw.edu,Joel Bottom,Employee,University Videographer,Information Services,Staff (Past and Present),NaN,NaN,Staff (Past and Present)
2,3,Active,None,1986,15302924,0,15304911,johnfeuquay@depauw.edu,John Feuquay,Employee,Assistant Media Technician for Event Support,Information Services,Staff (Past and Present),NaN,NaN,Staff (Past and Present)
3,4,Active,None,21413,7852488,127346,8001249,kkinney@depauw.edu,Kevin Kinney,Employee,Professor of Biology,Biology,Faculty (Past and Present),Kevin Kinney,Former Student,Faculty (Past and Present)
4,5,Active,None,70477,4524584,896,4595958,slinville@depauw.edu,Steven Linville,Deceased,Director of Productions and Part-time Assistan...,School of Music,Faculty (Past and Present),Steven Linville,Former Student,Faculty (Past and Present)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4964,4965,Suspended,None,4,0,0,4,dawnstoltey@depauw.edu,Dawn Stoltey,Ex-employee,"Part-time Facility Service Provider, 1st Shift",Facilities Management,Staff (Past and Present),NaN,NaN,Staff (Past and Present)
4966,4967,Suspended,None,2,1,0,3,ithembabell_2022@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Ithemba Bell,Former Student,Former Student
4968,4969,Active,None,3,0,0,3,avafrank_2025@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Ava Frank,Current Student,Current Student
4971,4972,Active,None,0,2,0,2,jacoblouiselle_2024@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Jacob Louiselle,Current Student,Current Student
4973,4974,Active,None,2,0,0,2,jboehmler_2021@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,Jacquelyn Boehmler,Former Student,Former Student

## Further categorize User Type = "Special"

In [60]:
special_account_df = t4[t4['User Type'] == 'Special']
special_account_df

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME_x,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE,FIRSTLAST_NAME_y,STUDENT_TYPE,User Type
11,12,Active,None,0,1120156,0,1120156,deletedataholdingaccount@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
13,14,Active,None,12040,836229,134,848404,kategrimm@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
73,74,Active,None,3508,123353,0,126862,mgmtfellows@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
76,77,Active,None,830,115745,0,116576,mediastaff@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
77,78,Active,None,25,116239,0,116264,dars@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4966,Active,None,0,3,0,3,philosophy@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
4967,4968,Active,None,3,0,0,3,arcappointmentdesk@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,NaN,Special

In [61]:
special_df = special_account_df.drop(['STUDENT_TYPE','User Type'],axis='columns')
special_df['STUDENT_TYPE'] = ['Current Student' if ("_2026" in x) | ("_2025" in x) | ("_2024" in x) |
                                     ("_2023" in x) | ("_2022" in x) 
                                      else 'Former Student' if ("_2021" in x) | ("_2020" in x) |
                                     ("_2019" in x) | ("_2018" in x) | ("_2017" in x) | ("_2016" in x) |
                                     ("_2015" in x) | ("_2014" in x) | ("_2013" in x) | ("_2012" in x) |
                                     ("_2011" in x) | ("_2010" in x) else "" for x in special_account_df['User Email']]
special_df

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME_x,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE,FIRSTLAST_NAME_y,STUDENT_TYPE
11,12,Active,None,0,1120156,0,1120156,deletedataholdingaccount@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
13,14,Active,None,12040,836229,134,848404,kategrimm@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
73,74,Active,None,3508,123353,0,126862,mgmtfellows@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
76,77,Active,None,830,115745,0,116576,mediastaff@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
77,78,Active,None,25,116239,0,116264,dars@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4966,Active,None,0,3,0,3,philosophy@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
4967,4968,Active,None,3,0,0,3,arcappointmentdesk@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,

In [62]:
special_df['User Type'] = (special_df['EMPLOYEE_TYPE'].astype(str) + 
                           special_df['STUDENT_TYPE'].astype(str)).str.replace("nan","")
special_df['User Type'] = [x if x != "" else "" for x in special_df['User Type']]
special_df['User Type'] = ['Special' if x == "" else x for x in special_df['User Type']]
special_df

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,FIRSTLAST_NAME_x,PERSON_TYPE,TITLE,DEPARTMENT,EMPLOYEE_TYPE,FIRSTLAST_NAME_y,STUDENT_TYPE,User Type
11,12,Active,None,0,1120156,0,1120156,deletedataholdingaccount@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
13,14,Active,None,12040,836229,134,848404,kategrimm@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
73,74,Active,None,3508,123353,0,126862,mgmtfellows@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
76,77,Active,None,830,115745,0,116576,mediastaff@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
77,78,Active,None,25,116239,0,116264,dars@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4966,Active,None,0,3,0,3,philosophy@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
4967,4968,Active,None,3,0,0,3,arcappointmentdesk@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,NaN,Student and Special Accounts,NaN,Student and Special Accounts,NaN,NaN,,Special

In [63]:
google_df_clean = pd.concat([normal_account_df,special_df])
google_df_clean1 = google_df_clean[['User ID','Account Status','Admin Status','Gmail Storage Used',
                                  'Drive Storage Used','Photo Storage Used','Total Storage Used',
                                  'User Email','PERSON_TYPE','TITLE','DEPARTMENT','EMPLOYEE_TYPE',
                                  'STUDENT_TYPE','User Type']]
google_df_ready = google_df_clean1.rename(columns={'PERSON_TYPE':'Person Type',
                               'TITLE':'Title',
                               'DEPARTMENT':'Department',
                               'EMPLOYEE_TYPE':'Employee Type',
                               'STUDENT_TYPE':'Student Type'})
google_df_ready

,User ID,Account Status,Admin Status,Gmail Storage Used,Drive Storage Used,Photo Storage Used,Total Storage Used,User Email,Person Type,Title,Department,Employee Type,Student Type,User Type
0,1,Active,None,1371,28108595,32935,28142901,richardshamel@depauw.edu,Employee,Associate Coordinator of Media Services,Information Services,Staff (Past and Present),NaN,Staff (Past and Present)
1,2,Active,None,15700,21357320,24559,21397581,joelbottom@depauw.edu,Employee,University Videographer,Information Services,Staff (Past and Present),NaN,Staff (Past and Present)
2,3,Active,None,1986,15302924,0,15304911,johnfeuquay@depauw.edu,Employee,Assistant Media Technician for Event Support,Information Services,Staff (Past and Present),NaN,Staff (Past and Present)
3,4,Active,None,21413,7852488,127346,8001249,kkinney@depauw.edu,Employee,Professor of Biology,Biology,Faculty (Past and Present),Former Student,Faculty (Past and Present)
4,5,Active,None,70477,4524584,896,4595958,slinville@depauw.edu,Deceased,Director of Productions and Part-time Assistan...,School of Music,Faculty (Past and Present),Former Student,Faculty (Past and Present)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,4966,Active,None,0,3,0,3,philosophy@depauw.edu,Student and Special Accounts,NaN,Student and Special Accounts,NaN,,Special
4967,4968,Active,None,3,0,0,3,arcappointmentdesk@depauw.edu,Student and Special Accounts,NaN,Student and Special Accounts,NaN,,Special
4969,4970,Active,None,3,0,0,3,bsedlack@depauw.edu,Student and Special Accounts,NaN,Student and Special Accounts,NaN,,Special
4970,4971,Active,None,3,0,0,3,wgresw@depauw.edu,Student and Special Accounts,NaN,Student and Special Accounts,NaN,,Special
4972,4973,Active,None,2,0,0,2,catertrax@depauw.edu,Student and Special Accounts,NaN,Student and Special Accounts,NaN,,Special

In [64]:
google_df_ready.to_csv("Google Usage Visualization.csv")